[Unit]
Description=Prometheus Grok Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/grok_exporter -config /etc/grok_exporter/config.yml
Restart=always
StartLimitBurst=1000

[Install]
WantedBy=multi-user.target
